cycler==0.10.0
decorator==4.4.2
imageio
joblib==0.14.1
kiwisolver==1.1.0
laspy==1.7.0
matplotlib
networkx
numpy
opencv-python
Pillow
plyfile==0.7.2
pyparsing==2.4.7
python-dateutil
PyWavelets==1.1.1
# scikit-image==0.15.0
# scikit-learn==0.22.2.post1
scipy
six==1.15.0
# pandas
# python-pcl==0.3.0a1
# pcl==0.0.0.post1
# pyyaml==5.3.1
scikit-learn
torch==2.0.1
requests==2.31.0
torchvision==0.15.2
tqdm==4.65.0
ultralytics==8.0.124
scikit-image==0.21.0